
ul.input,
input#Ok {
    margin-left: 6.5em;
}
ul.input {
    margin-bottom: 1em;
    margin-top: 1em;
}
div#confirmationpage div#withRegDate {
    height: 15em;
}
div#confirmationpage form#regDateForm input[type=submit] {
    left: 31.5em;
}
div#confirmationpage form#regDateForm div.t-error ul li {
    white-space: normal;
    width: 35em;
    top: -3.5em;
}
