
div#mainBlock h2 {
    margin: 12px 0;
}
div#indexpage h2 {
    font-weight: normal;
}
ul#page-description {
    margin-left: 7em;
}
form .text1 {
    display: none;
}
form .text2 {
    display: inline;
}
form .text3 {
    display: inline !important;
}
form .text4 {
    display: none !important;
}
div#searchbox,
div#enterbox,
div#searchbox *,
div#enterbox * {
    position: absolute;
}
div#searchbox {
    top: 15.5em;
    height: 3.5em;
}
div#enterbox {
    top: 22.5em;
    height: 10em;
}
div#searchbox input[type=submit],
div#enterbox input[type=submit] {
    left: 21em;
}
div#searchbox input[type=submit] {
    top: 1em;
}
div#searchbox label,
div#enterbox label {
    white-space: nowrap;
    left: 2em;
}
div#searchbox h3,
div#enterbox h3 {
    top: -0.5em;
}
div#enterbox label#entervin-label {
    top: 1.5em;
}
div#enterbox label#entermile-label {
    top: 5.5em;
}
div#searchbox input[type=text],
div#enterbox input[type=text] {
    width: 18em;
    color: #999;
    left: 1em;
}
div#searchbox input[type=text] {
    top: 1em;
}
img#vinSearch_icon,
img#vinEnter_icon,
img#mileageEnter_icon {
    left: -1.5em;
}
img#vinSearch_icon {
    top: 1.3em;
}
img#vinEnter_icon {
    top: 3.3em;
}
img#mileageEnter_icon {
    top: 7.3em;
}
div#container2,
div#enterbox input#vinEnter {
    top: 3em;
}
div#enterbox input#mileageEnter,
div#enterbox input[type=submit] {
    top: 7em;
}
div#container1,
div#container2 {
    display: none;
    background-color: cornflowerblue;
    color: #fff;
    height: 44px;
    width: 72px;
    text-align: center;
    padding-top: 0.2em;
    border: 2px ridge honeydew;
    z-index: 100;
}
div#container1 p,
div#container2 p {
    color: white;
    margin-left: 2.25em;
}
form#mileSearchForm,
form#mileEnterForm {
    left: 6em;
}
