* {
    margin: 0;
    padding: 0;
    font-size: 0.98em;
    font-family: Arial,Helvetica,Verdana,sans-serif;
    line-height: 150%;
    color: #353535;
}
a {
    border-bottom: 1px dotted;
    text-decoration: none;
    color: navy;
}
a:hover {
    border-bottom: 1px solid;
}

div#headerBlock {
    background-color: #b0b0b0;
    height: 40px;
}
div#leftBlock {
    float: left;
}
div#rightBlock {
    float: right;
}
div#mainBlock {
    margin: 0 auto;
    width: 40em;
}
div#footerBlock {
    clear: both;
}
div#mainBlock div#indexpage,
div#mainBlock div#sitenotice,
div#mainBlock div#confirmationpage,
div#mainBlock div#resultpage {
    height: 27em;
}

div#footerBlock ul {
    padding: 0.5em;
    text-align: center;
}
div#footerBlock ul li {
    display: inline;
    margin-right: 8px;
}
div#footerBlock ul li span {
    color: #909090;
    border-top: 3px solid lightCoral;
}

/**
 * mainpage
 */
div#indexpage h1,
div#mainBlock h2 {
    margin: 12px 0;
}
div#indexpage h2 {
    font-weight: normal;
}

div#mainBlock img.logo {
    float: left;
    margin-right: 42px;
}
div#helppage img.logo {
    margin-bottom: 16px;
    margin-top: 16px;
}
div#indexpage ul#page-description {
    font-size: 0.95em;
    margin-bottom: 32px;
}

div#indexpage form {
    margin: 0 15px 0 0;
    clear: both;
}
/* form errors */
form div.t-error div {
    display: none;
}
div#resultpage form div.t-error div {
    display: block;
}
div.t-error ul,
ul#storingSuccess {
    list-style-type: none;
    border-bottom: 2px solid;
    border-top: 2px solid;
}
div.t-error ul {
    border-color: firebrick;
}
div.t-error ul li,
ul#storingSuccess li {
    margin: 0 5px;
    padding: 2px 8px;
}
div.t-error ul li {
    background-color: tomato;
    color: white;
}
div#indexpage ul#storingSuccess {
    border-color: green;
}
div#indexpage ul#storingSuccess li {
    background-color: lightgreen;
    color: teal;
}
/* form elements */
div#indexpage form label {
    float: left;
    text-align: justify;
    margin: 14px 4px 4px 0;
    line-height: 1.2;
    width: 330px;
    font-size: 0.92em;
}
div#indexpage form div.wrapText,
div#indexpage form div.wrapButton {
    float: right;
}
div#indexpage form div.wrapButton {
    text-align: right;
    width: 100%;
}
div#indexpage form span#container {
    float: left;
    margin-left: 345px;
    display: none;
}
form#regDateForm div.regDateButtons {
    padding-left: 150px;
}
form#regDateForm div.regDateButtons div.wrapButton {
    float: left;
}
form#regDateForm label {
    float: left;
    padding-top: 10px;
    width: 170px;
}
form#regDateForm div.wrapSelect {
    padding-left: 10px;
    width: 80px;
    float: left;
    margin-left: 8px;
}
form#regDateForm select {
    border: none;
    width: 70px;
}
/*
div#indexpage form div.noRight {
    clear: right;
}
*/
div#indexpage form div div.help {
    cursor: help;
    float: right;
    margin: 17px 0 0 5px;
    height: 15px;
    width: 16px;
    background: url('../images/info.gif') no-repeat 0 -15px;
}
div#indexpage form div div.help:hover {
    background: url('../images/info.gif') no-repeat 0 0;
}

/* the form elemets-wrapper */
form div.wrapText, form div.wrapSelect {
    border: 1px solid #90b0ea;
    margin: 10px 0 10px 0;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}
div#indexpage form div.wrapText {
    width: 220px;
}
div#indexpage form div.wrapText input {
    font-size: 0.95em;
    border-width: 0px;
    width: 90%;
    margin: 6px 0 6px 10px;
    height: 1.2em;
}
form div.text1 {
    display: none;
}
form div.text2 {
    display: inline;
}
form div.text3 {
    display: inline !important;
}
form div.text4 {
    display: none !important;
}

form div div.help p {
    display: none;
    position: relative;
    line-height: 1.32em;
    font-size: 0.9em;
    left: 24px;
    top: 8px;
    width: 215px;
    z-index: 1000;
    border: 1px solid #90b0ea;
    padding: 10px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomleft: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.2), inset 0px 1px 1px rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.2), inset 0px 1px 1px rgba(255, 255, 255, 0.8);
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 1px rgba(255, 255, 255, 0.8);
}
form div div.help:hover p {
    display: block;
}

/* the buttons */
form div.wrapButton input {
    height: 26px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid #b0b0b0;
    padding: 0 16px;
    background-color: #efefef;
    margin: 0 22px 0 0;
    text-decoration: none;
    cursor: pointer;
}
form div.wrapButton input:hover {
    background-color: #b0b0b0;
    color: white;
}
/* the socialbar */
div#indexpage ul#social {
    padding: 32px 0 16px 0;
    clear: both;
    list-style: none;
}
div#indexpage ul#social li {
    display: inline;
    margin-left: 12px;
}
div#indexpage ul#social li a {
    display: block;
    height: 22px;
    width: 65px;
    border: 1px solid #90b0ea;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    padding-left: 8px;
    font-size: 1.1em;
}
div#indexpage ul#social li a:hover {
    border-color: #7090c8;
}
div#indexpage ul#social li a img {
    border: none;
    width: 22px;
    height: 18px;
    vertical-align: middle;
    margin-bottom: 6px;
}
div#indexpage ul#social a img,
div#indexpage ul#social iframe {
    height: 24px;
}
div#indexpage ul#social iframe {
    overflow: hidden;
    width: 46px;
}

/* the result-back-link*/
div#mainBlock div#resultpage p {
    margin-top: 24px;
    text-align: right;
}
div#mainBlock div#resultpage img {
    vertical-align: middle;
}
div#mainBlock div#resultpage p a {
    margin-right: 64px;
}
div#mainBlock div#resultpage p a:hover {
    border-bottom: 1px solid;
}

/* error and error404 page*/
div#mainBlock div#error span,
div#mainBlock div#error404 span {
    display: block;
    width: 100%;
}
div#mainBlock div#error img,
div#mainBlock div#error404 img {
    vertical-align: middle;
    margin-left: 12px;
}

/**
 *
 */
div#confirmationpage ul {
    margin: 1em 0 2em 0;
}
div#confirmationpage ul li span {
    float: left;
    font-weight: bold;
    width: 8.5em;
}
div#confirmationpage form input {
    margin-left: 6.5em;
}

/**
 * helppage
 */
div#helppage ul {
    margin: 0 0 3em 0;
}
div#helppage ul li {
    margin: 4px 0;
}
div#helppage div#answers {
    overflow-y: scroll;
    padding: 0 4px 0 0;
    height: 28em;
}
div#helppage div#answers a {
    border: none;
    display: block;
    margin: 0 0 4px 0;
}
div#helppage div#answers p {
    margin: 0 0 12px 20px;
}

div#sitenotice ul {
    margin-bottom: 21em;
}
