
form#regDateForm {
    position: relative !important;
}
form#regDateForm * {
    position: absolute !important;
}
form#regDateForm select#dayselect {
    left: 13em;
}
form#regDateForm select#monthselect {
    left: 18.5em;
}
form#regDateForm select#yearselect {
    left: 24em;
}
form#regDateForm div.t-error ul li {
    left: 6em;
}
input#yesStore,
input#noThankYou {
    top: 2.25em;
}
input#yesStore {
    left: 10em;
}
input#noThankYou {
    left: 22em;
}